aiobotocore==2.13.0
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.6.0
anyio==4.2.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.6.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==24.2.0
Babel==2.14.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.1
botocore==1.34.106
build==1.1.1
CacheControl==0.13.1
cachetools==5.3.1
cattrs==23.2.3
certifi==2023.11.17
cffi==1.15.1
chalkpy==2.40.3
charset-normalizer==2.0.12
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.4
coloredlogs==15.0.1
comm==0.2.2
cryptography==41.0.2
dataclasses-json==0.5.13
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.4
distro==1.9.0
Django==4.1.7
django-cors-headers==4.2.0
django-countries==7.5.1
django-environ==0.11.2
django-phone-field==1.8.1
django-phonenumber-field==6.3.0
django-unixtimestampfield==0.5.0
djangorestframework==3.12.4
duckdb==0.10.3
environ==1.0
executing==2.0.1
fastapi==0.110.0
fastjsonschema==2.19.1
filelock==3.7.1
firebase==4.0.1
firebase-admin==6.2.0
Flask==3.0.3
Flask-Cors==3.0.10
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
flatbuffers==23.5.26
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.5.0
google-api-core==2.11.1
google-api-python-client==2.95.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.3
google-cloud-firestore==2.11.1
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
greenlet==3.0.3
grpcio==1.62.2
grpcio-status==1.56.2
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.2
huggingface-hub==0.21.3
humanfriendly==10.0
idna==3.3
importlib-metadata==6.11.0
importlib_resources==6.1.2
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.3
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.24
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.11
kubernetes==29.0.0
langchain==0.1.1
langchain-community==0.0.13
langchain-core==0.1.13
langsmith==0.0.83
Levenshtein==0.25.1
llama-index==0.9.34
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistralai==0.0.11
mistune==3.0.2
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
nba_api==1.4.1
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.5.9
networkx==3.2.1
nltk==3.8.1
notebook==7.1.2
notebook_shim==0.2.4
numexpr==2.8.4
numpy==1.24.2
oauthlib==3.2.2
onnxruntime==1.17.1
openai==1.8.0
openapi-schema-pydantic==1.2.4
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
orjson==3.9.12
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.3
pathlib==1.0.1
pexpect==4.9.0
Pillow==9.4.0
platformdirs==2.5.2
polars==0.19.19
posthog==3.4.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.8
ptyprocess==0.7.0
pulsar-client==3.4.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
PyJWT==2.8.0
PyMuPDF==1.23.16
PyMuPDFb==1.23.9
pyparsing==3.1.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2020.1
PyYAML==6.0.1
pyzmq==25.1.2
rapidfuzz==3.9.2
referencing==0.34.0
regex==2023.12.25
reportlab==4.0.4
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
s3fs==2024.5.0
selenium==4.25.0
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlglot==24.0.2
sqlparse==0.3.1
stack-data==0.6.3
starlette==0.36.3
stripe==5.5.0
sympy==1.12
tenacity==8.2.3
terminado==0.18.1
tiktoken==0.5.2
tinycss2==1.2.1
tokenizers==0.15.2
tornado==6.4
tqdm==4.65.0
traitlets==5.14.2
trio==0.26.2
trio-websocket==0.11.1
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2022.7
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.27.1
uvloop==0.19.0
virtualenv==20.15.0
waitress==2.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.2
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
